/* Youtube-dl Wrapper */

/*= Base Styles ============*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	border: 2px solid #999;
	color: #333;
	font: 20px sans-serif;
	margin: auto;
	padding: 1em;
}

h1 {
	font-size: 1.5em;
	margin: 0 0 .5em 0;
}

h2 {
	font-size: 1.25em;
	margin: 0 0 .25em 0;
}

html {
	background: rgb(241,241,241);
}

input {
	background: rgb(255,255,255);
	border: 1px solid #999;
	font-size: 1em;
	height: 1.5em;
	line-height: 1;
}

table {
	border-collapse: collapse;
}

td {
	padding: .25em;
}

th {
	text-align: left;
}


/*= Modules ================*/

#add-url {
	text-align: center;
}

.bordered {
	border: 1px solid rgb(232,232,232);
}

.button {
	display: inline-block;
	font-weight: bold;
}

.column-delete,
.column-edit
{
	width: 4em;
}

.field-update {
	width: -webkit-calc(100% - 4.5em);
	width: calc(100% - 4.5em);
}

.queue {
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0;
	width: 100%;
}

.queue-item {
	background: rgb(232,232,232);
	padding: .25em;
}

.queue-item:nth-child(2n) {
	background: transparent;
}

/* Status box classes */
.status {
	border-style: solid;
	box-shadow: 0 .1em .5em rgba(0,0,0,.4);
	font-weight: bold;
	position: fixed;
	text-align: center;
	top: 0;
	-webkit-transform: translateY(-150%);
	transform: translateY(-150%);
	transition: all 1s;
}

#video-url {
	width: 50%;
}


/*= State =================*/ 

.status-bad {
	background: rgba(255,0,0,.8);
	border-color: rgb(232,0,0);
	color: evergreen;
}

.status-good {
	background: rgba(0,255,0,.8);
	border-color: rgb(0,232,0);
	color: evergreen;
}

.status-visible {
	-webkit-transform: translateY(0);
}


/*= Size-Dependent =========*/

/* Larger Displays */
@media all and (min-width: 40em) {

	body {
		max-width: 40em;
	}

	.status {
		border-radius: 7px;
		border-width: 3px;
		left: 50%;
		margin: .25em 0 0 -10em;
		padding: 1em;
		width: 20em;
	}
}

/* Smaller Displays */
@media all and (max-width: 40em) {

	.button {
		font-size: 1.5em;
	}

	.status {
		border-width: 0 0 3px 0;
		left: 0;
		margin: 0;
		padding: .5em;
		width: 100%;
	}
}
